.inventoryPage {
  width: 75%;
  position: absolute;
  color: white;
  top: 2%;
  left: 15%;
  border-radius: 20px;
  height: 80%;
}
.allInventory {
  margin-top: 3%;
  overflow: auto;
}
.materialCard {
  height: 10%;
  margin-right: 3.3%;
  margin-top: 2%;
  display: inline-block;
  width: 21%;
  /* From https://css.glass */
  background: rgba(87, 197, 182, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(87, 197, 182, 1);
}
.matImg {
  max-height: 100px;
  max-width: 100px;
  object-fit: cover;
  margin-left: 30%;
}
.authCon input {
  background-color: #002233;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  text-align: center;
  height: 40px;
  margin: auto;
  border-radius: 5px;
  color: white;
  width: 15%;
  margin-top: 6%;
  display: block;
  border: none;
  font-weight: bold;
}
.materialCard button {
  outline: none;
  height: 30px;
  border-radius: 5px;
  width: 40%;
  align-items: center;
  background: rgba(201, 255, 248, 0.35);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.7px);
  -webkit-backdrop-filter: blur(16.7px);
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: 15%;
  float: left;
  border: none;
  color: #002233;
  font-size: small;
  font-family: "Quicksand", sans-serif;
}
.materialCard button:hover {
  cursor: pointer;
}
.inventoryPage h2 {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: x-large;
  text-align: center;
  margin-top: 2%;
}
h3 {
  color: white;
  font-size: large;
}
h4 {
  color: white;
  padding-top: 2%;
  font-family: "Quicksand", sans-serif;
}
.inventoryPage h1 {
  color: white;
  margin-top: 1%;
  font-family: "Quicksand", sans-serif;
}
#search-input {
  outline: none;
  text-align: center;
  height: 30px;
  color: white;
  background: rgba(201, 255, 248, 0.35);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.7px);
  -webkit-backdrop-filter: blur(16.7px);
  width: 15%;
  display: block;
  border: none;
}
#search-input::placeholder {
  color: white;
}
.editQuant {
  border: none;
  width: 22%;
  height: 30px;
  margin-top: 6%;
  margin-right: 10%;
  align-items: center;
  background: rgba(201, 255, 248, 0.35);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.7px);
  -webkit-backdrop-filter: blur(16.7px);
  text-align: center;
  float: right;
}
.inventoryCon {
  overflow: auto;
  height: 100%;
}
::-webkit-scrollbar {
  width: 20px;
}
