<div class="inventoryPage" >
  <h1>Your inventory</h1>
  <div class="inventoryCon">

    
    <mat-tab-group  mat-stretch-tabs="false" mat-align-tabs="start" backgroundColor="primary">
      <!-- ALL INVENTORY ITEMS-->
      <mat-tab class="tab" label="All inventory">
        <div class="allInventory">
         
            <input matInput [(ngModel)]="searchTerm" placeholder="Search..." id="search-input">
            <div class="materialCard" *ngFor="let item of inventory | filter: searchTerm">
              
              <h2>{{item.name}}</h2>
              <h3 style="text-align: center;">{{item.category}}</h3>
              <img class="matImg" src={{item.image}} style="height: 200px; width: 200px;">
              <!-- editing quantity values -->
              <input [value]="item.quantity" (change)="detectQuantityChange($event)" class="editQuant"/>
              <button (click)="updateQuantity(item._id!)">Edit Quantity</button>
            </div>
          
        </div>
      </mat-tab>

      <!-- WARRIOR GEAR -->
      <mat-tab label="Legs">
        <div class="allInventory">
         
          <div class="materialCard" *ngFor="let item of inventory | category: 'Legs' : 'category'">
            <h2>{{item.name}}</h2>
            <h3 style="text-align: center;">{{item.category}}</h3>
            <img class="matImg" src={{item.image}}>
            <input [value]="item.quantity" (change)="detectQuantityChange($event)" class="editQuant"/>
            <button (click)="updateQuantity(item._id!)">Edit Quantity</button>
          </div>
        </div>
      </mat-tab>

      <!-- GATHERER GEAR-->
      <mat-tab label="Arms"> 
        <div class="allInventory">
         
          <div class="materialCard" *ngFor="let item of inventory | category: 'Arms' : 'category'">
            <h2>{{item.name}}</h2>
            <h3 style="text-align: center;">{{item.category}}</h3>
            <img class="matImg" src={{item.image}}>
            <input [value]="item.quantity" (change)="detectQuantityChange($event)" class="editQuant"/>
            <button (click)="updateQuantity(item._id!)">Edit Quantity</button>
          </div>
        </div>
      </mat-tab>

      <!-- HUNTER GEAR -->
      <mat-tab label="Body">
        <div class="allInventory">
         
          <div class="materialCard" *ngFor="let item of inventory | category: 'Body' : 'category'">
            <h2>{{item.name}}</h2>
            <h3 style="text-align: center;">{{item.category}}</h3>
            <img class="matImg" src={{item.image}}>
            <input [value]="item.quantity" (change)="detectQuantityChange($event)" class="editQuant"/>
            <button (click)="updateQuantity(item._id!)">Edit Quantity</button>
          </div>
        </div>  
      </mat-tab>
    </mat-tab-group>
  </div>
  
</div>


