<div class="inventoryPage" >
  <h1>Your inventory</h1>
  <div class="inventoryCon">

    
    <mat-tab-group  mat-stretch-tabs="false" mat-align-tabs="start" backgroundColor="primary">
      <!-- ALL INVENTORY ITEMS-->
      <mat-tab class="tab" label="All inventory">
        <div class="allInventory">
         
            <input matInput [(ngModel)]="searchTerm" placeholder="Search..." id="search-input">
            <div class="materialCard" *ngFor="let item of items | filter: searchTerm">
              
              <h2>{{item.name}}</h2>
              <h3 style="text-align: center;">Type: {{item.category}}</h3>
              <img class="matImg" src={{item.image}}>
              <button>Edit Quantity</button>
            </div>
          
        </div>
      </mat-tab>

      <!-- WARRIOR GEAR -->
      <mat-tab label="Warrior gear"> Content 1 </mat-tab>



      <mat-tab label="Gatherer gear"> Content 2 </mat-tab>
      <mat-tab label="Hunter gear"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
  
</div>


