a {
  text-decoration: none;
  color: black;
}
#logo {
  cursor: pointer;
}
.side-nav {
  width: 10%;

  position: absolute;
  margin: 2%;
  margin-left: 3%;
  height: 92vh;
  background-color: #c9fff8;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
