<div class="inventoryPage" >
    <h1>Locations</h1>
    <div class="inventoryCon">
  
      
      <mat-tab-group  mat-stretch-tabs="false" mat-align-tabs="start" backgroundColor="primary">
        <!-- ALL INVENTORY ITEMS-->
        <mat-tab class="tab" label="All locations">
          <div class="allInventory">
           
              
              <div class="materialCard" *ngFor="let item of inventory">
                
                <h2>{{item.name}}</h2>
                <h3 style="text-align: center;">{{item.category}}</h3>
                <img class="matImg" src={{item.image}} style="height: 200px; width: 200px;">
                <!-- editing quantity values -->
                
                
              </div>
            
          </div>
        </mat-tab>
  
        <!-- EARTH -->
        <mat-tab label="Earth">
          <div class="allInventory">
           
            <div class="materialCard" *ngFor="let item of inventory | category: 'Earth' : 'location'">
              <h2>{{item.name}}</h2>
              <h3 style="text-align: center;">{{item.category}}</h3>
              <img class="matImg" src={{item.image}}>
              
            </div>
          </div>
        </mat-tab>
  
        <!-- MERCURY-->
        <mat-tab label="Mercury"> 
          <div class="allInventory">
           
            <div class="materialCard" *ngFor="let item of inventory | category: 'Mercury' : 'location'">
              <h2>{{item.name}}</h2>
              <h3 style="text-align: center;">{{item.category}}</h3>
              <img class="matImg" src={{item.image}}>
              
            </div>
          </div>
        </mat-tab>
  
        <!-- VENUS -->
        <mat-tab label="Venus">
          <div class="allInventory">
           
            <div class="materialCard" *ngFor="let item of inventory | category: 'Venus' : 'location'">
              <h2>{{item.name}}</h2>
              <h3 style="text-align: center;">{{item.category}}</h3>
              <img class="matImg" src={{item.image}}>
              
            </div>
          </div>  
        </mat-tab>
      </mat-tab-group>
    </div>
    
  </div>
  
  
  