.wrap {
  padding: 5% 5%;
}
h2 {
  margin-top: 3em;
  color: grey;
}
.example-card {
  width: 20%;
  height: 12%;
  display: inline-block;
  margin-right: 2%;
}
h2:first-child {
  margin-top: 0;
}
#search-input {
  outline: none;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  width: 15%;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: none;
}
:hover {
  background-size: 100% 100%;
}
.underlined--offset {
  background-position: 0 0.2em;
  box-shadow: inset 0 -0.5em 0 0 #57c5b6;
}
.authCon input {
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  text-align: center;
  height: 30px;
  margin: auto;
  border-radius: 5px;
  width: 15%;
  margin-top: 6%;
  display: block;
  border: none;
}
.authCon input::placeholder {
  opacity: 0.8;
}
.example-card button {
  float: left;
  outline: none;
  height: 30px;
  border-radius: 5px;
  width: 50%;
  display: block;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: 5%;
  border: none;
}
.authCon button {
  margin-top: 6%;
  width: 50%;
  height: 30px;
  border: none;
  color: #57c5b6;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.authCon {
  margin: auto;
  width: 50%;
  height: 350px;
  margin-top: 10%;
  border-radius: 8px;
  background-color: white;
  box-shadow: 10px 10px 29px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 29px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 29px -7px rgba(0, 0, 0, 0.75);
}
h3 {
  color: white;
  font-size: 20px;
  padding-top: 2%;
  font-weight: bold;
}
h4 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #1a5f7a;
  padding-top: 2%;
  font-family: "Quicksand", sans-serif;
}
