.authenticatedView {
  width: 80%;
  position: absolute;
  z-index: 99;
  margin: auto;
  max-height: 100vh;
  overflow: scroll;
  margin-top: 2%;
  left: 20;
  right: 0;
  overflow: auto;
}
.authCon input {
  background-color: #002233;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  text-align: center;
  height: 40px;
  margin: auto;
  border-radius: 5px;
  color: white;
  width: 15%;
  margin-top: 6%;
  display: block;
  border: none;
  font-weight: bold;
}
.authCon button {
  margin-top: 6%;
  width: 40%;
  height: 70px;
  border: none;
  color: #57c5b6;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}
button:hover {
  opacity: 0.8;
}
.authCon {
  position: absolute;
  width: 60%;
  top: 25%;
  height: 50vh;
  margin-left: 25%;
  border-radius: 16px;
  background: rgba(201, 255, 248, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.7px);
  -webkit-backdrop-filter: blur(16.7px);
}
h2,
h3,
h4,
h1 {
  color: white;
  font-family: "Quicksand", sans-serif;
}
h2 {
  font-size: x-large;
  text-align: center;
  margin-top: 2%;
}
h3 {
  font-size: large;
}
h4 {
  padding-top: 2%;
}
h1 {
  text-align: center;

  margin-top: 4%;
}
