.authenticatedView {
  width: 85%;
  display: flex;
  margin-left: 15%;
  max-height: 100vh;
}

input {
  background-color: #002233;
  outline: none;
  text-align: center;
  height: 40px;
  margin: auto;
  border-radius: 16px;
  color: white;
  width: 15%;
  margin-top: 6%;
  display: block;
  border: none;
  font-weight: bold;
}
.authCon button {
  margin-top: 3%;
  width: 30%;
  height: 10%;
  border: none;
  color: #57c5b6;
  border-radius: 16px;
  cursor: pointer;
  font-size: large;
}
button:hover {
  opacity: 0.8;
}
.authCon {
  width: 60%;
  position: absolute;
  height: 50vh;
  margin-top: 10%;
  margin-left: 25%;
  border-radius: 16px;
  background: rgba(201, 255, 248, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.7px);
  -webkit-backdrop-filter: blur(16.7px);
}
h2 {
  font-size: x-large;
  text-align: center;
  margin-top: 3%;
  color: white;
}
.authCon h3 {
  color: #002233;
  margin-top: 5%;
  font-size: medium;
}
h4 h3 h1 h5 h2 {
  color: white;
}
h4 {
  text-align: center;
}
h1 {
  margin-top: 4%;
}
h5 {
  font-size: x-large;
  margin-top: 3%;
  position: absolute;
  color: white;
}

.craftCon {
  width: 25%;
  height: 45vh;
  background: rgba(87, 197, 182, 0.53);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(87, 197, 182, 1);
  margin-top: 8%;
  margin-right: 2%;
}
.authenticatedView button {
  float: right;
}
.authenticatedView p {
  float: left;
  margin-left: 5%;
  color: white;
}
.craftCon img {
  height: 20%;
  width: 20%;
  margin-left: 40%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.craftCon button {
  background-color: #57c5b6;
  color: white;
  margin-right: 5%;
}
