<div class="content-div">

        <h1>Welcome to BlockBabies</h1>
        <h2>Take a look around and embark on your block based journey!</h2>
    
        <h2 style="margin-top: 2%;">
            Block babies is a collection of some of the bravest and daring creatures in all of the blockchain world <br/> 
            from this application you can manage and craft some of the fiercest creatures in all the lands. <br/> 
            Take a look around and explore our three locations and all the Babies that live peacefully within them
        </h2>
        
        <div class="scrollViewBabies">
            <div class="babyCon" >
                <img src="../../assets/characters/Juniper.png" height="150px"/>
            </div>
            <div class="babyCon" >
                <img src="../../assets/characters/Ralph.png" height="150px"/>
            </div>
            <div class="babyCon" >
                <img src="../../assets/characters/Ben.png" height="150px"/>
            </div>
            <div class="babyCon" >
                <img src="../../assets/characters/Steve.png" height="150px"/>
            </div>
        </div>
</div>
