h1 {
  font-weight: 500;
  font-size: 40px;
  padding-top: 10px;
  padding-left: 50px;
  font-family: "Quicksand", sans-serif;
  color: white;
}
.wrap p {
  font-weight: bold;
}
h2 {
  padding-top: 5px;
  font-size: 20px;
  padding-bottom: 5%;
  padding-left: 50px;
  font-family: "Quicksand", sans-serif;
}
.inner-con {
  width: 50%;
  height: 50%;
  padding-left: 15%;
  color: white;
}
.logo-home {
  height: 7%;
  width: 7%;
  padding-left: 10%;
  padding-top: 2%;
}
.content-div {
  width: 80%;
  float: right;
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(201, 255, 248, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
}
.content-div h3 {
  float: right;
  margin-right: 20%;
  font-size: 1.2rem;
  color: white;
  padding-top: 2%;
  font-family: "Quicksand", sans-serif;
}
.bounce:hover {
  animation: bounce 1s linear;
}
@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
}
footer {
  height: 110px;
  position: fixed;
  width: 100%;
  display: inline-block;
  background-color: #1a5f7a;
  color: white;
  bottom: 0;
}
footer p {
  display: inline-block;
  padding-left: 23%;
  font-size: 13px;
  padding-top: 2.5%;
  font-weight: 400;
  text-align: center;
}
