h1 {
  font-weight: 500;
  font-size: 40px;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  color: white;
  padding-left: 2%;
}
.wrap p {
  font-weight: bold;
}
h2 {
  padding-top: 5px;
  font-size: 20px;
  padding-bottom: 5%;
  padding: 2%;
  color: white;
  font-family: "Quicksand", sans-serif;
}
.inner-con {
  width: 50%;
  height: 50%;
  padding-left: 15%;
  color: white;
}
.logo-home {
  height: 7%;
  width: 7%;
  padding-left: 10%;
  padding-top: 2%;
}
.content-div {
  width: 80%;
  float: right;
  height: 92vh;
  margin-left: 7%;
  margin-top: 2%;
  margin-right: 3%;
  /* From https://css.glass */
  background: rgba(201, 255, 248, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.7px);
  -webkit-backdrop-filter: blur(16.7px);
}
.content-div h3 {
  float: right;
  margin-right: 20%;
  font-size: 1.2rem;
  color: white;
  padding-top: 2%;
  font-family: "Quicksand", sans-serif;
}
